.searchBox {
  background-color: #f0f0f1;
}

.logoLogin {
  svg {
    display: inherit;
  }
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.nav li {
  margin-right: 1.5rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: #9b9999bf;
  // backdrop-filter: blur(1px);
}
