.mainCategory {
  font-size: 11px;
  padding-right: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid transparent;
  color: #424750;
}

.mainCategory:hover {
  background-color: #f7f7f8;
  color: rgb(207, 6, 6);
  border: 1px solid #f0f0f1;
}
