.text_h5 {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 2.15;
  color: #424750;
}
.footer_text_link {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 2.15;
  color: #81858b;
  display: block;
}
