node_modules/
.idea/
yarn.lock
chat.*
package-lock.json
coverage/tmp/
test/fixture2

test/fixture/.nuxt/

yarn-error.log

test/fixture/public/fonts/


docs/.vitepress/dist/
docs/.vitepress/cache/

src/.output/

test/fixture/ecosystem.config.js
test/fixture/.ignore
test/fixture/*pnpm*

bash.sh


ecosystem.config.js
# Local Netlify folder
.netlify


pnpm-lock.yaml
/src/server/api/market/categories/[id].js
/src/server/api/market/products/[id].js
/src/server/api/market/categories.js
/src/runtime/darkmode.js
/src/schema/types/layout.js
/src/schema/types/market.js
/src/server/api/market/megamenu.js
/src/module.js
/src/runtime/ntm.js
/src/runtime/ntmLocale.js
/src/plugins/NtmPlugin.client.js
/src/schema/types/options.js
/src/server/api/market/products.js
/src/server/api/market/categories/[id].js
/src/server/api/market/products/[id].js


# Dependencies
node_modules

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Yarn
**/.yarn/cache
**/.yarn/*state*

# Generated dirs
dist

# Nuxt
.nuxt
.output
.vercel_build_output
.build-*
.env
.netlify

# Env
.env

# Testing
reports
coverage
*.lcov
.nyc_output

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
