node_modules/
.idea/
yarn.lock
package-lock.json
coverage/tmp/
test/fixture2

test/fixture/.nuxt/

yarn-error.log

test/fixture/public/fonts/

tailwind/

docs/.vitepress/dist/
docs/.vitepress/cache/

src/.output/

test/fixture/ecosystem.config.js

bash.sh


ecosystem.config.js
# Local Netlify folder
.netlify
