.nav li {
  margin-right: 1rem;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.nav li:hover {
  border-bottom: 2px solid red;
}

li .bordernone:hover {
  border-bottom: transparent;
}

.showNav {
  width: 100%;
  position: relative;
  top: 0px;
  transition: 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 2;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  padding-top: 5px;
}
.hideNav {
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.08);
  position: relative;
  top: -35px;
  transition: 0.3s linear;
}
