@layer components {

    .bg-default {
        @apply
        bg-light
        text-[var(--color-text)] border-[var(--color-border)]
        dark:bg-dark
        dark:text-[var(--color-dark-text)] dark:border-[var(--color-dark-border)]
        transition delay-[50] duration-[500] ease-in-out dark:delay-[50] dark:duration-[500];
    }

    .title-decoration-underline {
        @apply w-16 mt-2 h-[2px] bg-primary;
    }


    a[data-bs-toggle='collapse'] {
        @apply fill-gray-400 text-gray-400;
    }

    a[data-bs-toggle='collapse'][aria-expanded='true'] .open,
    a[data-bs-toggle='collapse'][aria-expanded='false'] .close {
        @apply hidden;
    }

}

@layer utilities {
    .dot::before {
        position: relative;
        content: '';
        display: block;
        background: rgb(220, 220, 220);
        width: 6pt;
        height: 6pt;
        margin-top: 20px;
        border-radius: 500pt;
    }

    .filter-none {
        filter: none;
    }

    .ltr {
        direction: ltr;
    }

    .rtl {
        direction: rtl;
    }

    .filter-grayscale {
        filter: grayscale(100%);
    }
}
