@layer base {
    :root {
        /* Pattern: --color-{scope?}-{dark?}-{tag}-{event?} */

        /* Light: General text and border and background */
        --color-light: #FFF;
        --color-light-bg: #FFF;
        --color-text: #28272A;
        --color-link: #0055AA;
        --color-border: #28272A;

        /* Dark: General text and border and background */
        --color-dark: #28272A;
        --color-dark-bg: #464646;
        --color-dark-text: #E4E7EB;
        --color-dark-link: #4389ce;
        --color-dark-border: #E4E7EB;

        /* Card: colors for text, border, and background */
        --color-card-bg: #FFF;
        --color-card-border: #E4E7EB;
        --color-card-text: #7B8794;
        --color-card-dark-bg: #696969;
        --color-card-dark-border: #47475E;
        --color-card-dark-text: #8E8E90;

        /* Input: colors for text, border, and background */
        --color-input-dark-bg: #333333;
        --color-input-dark-border: #929296;
        --color-input-dark-text: #f1f0f0;

        --color-input-dark-bg-focus: #333333;
        --color-input-dark-border-focus: #0d90e3;
        --color-input-dark-text-focus: #f1f0f0;

        --color-input-bg: #f1f0f0;
        --color-input-border: #929296;
        --color-input-text: #333333;

        --color-input-bg-focus: #f1f0f0;
        --color-input-border-focus: #0d90e3;
        --color-input-text-focus: #333333;

        /* Button: colors for background, text and border */
        --color-btn-bg: #eaeaea;
        --color-btn-border: #afaeae;
        --color-btn-text: #3f3f3f;
        --color-btn-dark-bg: #FFF;
        --color-btn-dark-border: #E4E7EB;
        --color-btn-dark-text: #7B8794;
        --color-btn-bg-hover: #eaeaea;
        --color-btn-bg-hover-hover: #eaeaea;
        --color-btn-border-hover: #707070;
        --color-btn-text-hover: #2d2d2d;
        --color-btn-dark-bg-hover: #FFF;
        --color-btn-dark-border-hover: #E4E7EB;
        --color-btn-dark-text-hover: #7B8794;
    }
}
