@layer base {
    :root {
        --color-light: #FFF;
        --color-light-bg: #FFF;
        --color-text: #28272A;
        --color-link: #0055AA;
        --color-border: #28272A;

        --color-dark: #28272A;
        --color-dark-bg: #28272A;
        --color-dark-text: #E4E7EB;
        --color-dark-border: #E4E7EB;

        --color-card-bg: #FFF;
        --color-card-border: #E4E7EB;
        --color-card-text: #7B8794;
        --color-dark-card-bg: #2B2D2E;
        --color-dark-card-border: #47475E;
        --color-dark-card-text: #8E8E90;

        --color-btn-bg: #2B2D2E;
        --color-btn-border: #47475E;
        --color-btn-text: #8E8E90;
        --color-btn-card-bg: #FFF;
        --color-btn-card-border: #E4E7EB;
        --color-btn-card-text: #7B8794;


    }
}
