@layer components {

  .input {
    @apply
    appearance-none focus:appearance-none active:appearance-none
    border-none active:border-none focus:border-none
    ring-1 focus:ring-2 hover:ring-1
    focus:outline-none
    h-10
    p-2
    w-full
    grow
    rounded-sm
    text-sm
    font-light
  }

  .input {
    @apply
    text-[var(--color-input-text)] dark:text-[var(--color-input-dark-text)] focus:text-[var(--color-input-text-focus)] dark:focus:text-[var(--color-input-dark-text-focus)]
    bg-[var(--color-input-bg)] dark:bg-[var(--color-input-dark-bg)] focus:bg-[var(--color-input-bg-focus)] dark:focus:bg-[var(--color-input-dark-bg-focus)]
    ring-[var(--color-input-border)] dark:ring-[var(--color-input-dark-border)] focus:ring-[var(--color-input-border-focus)] dark:focus:ring-[var(--color-input-dark-border-focus)]
  }

  input:-webkit-autofill {
    -webkit-background-clip: text;
  }

  .focused-input {
    @apply
    ring-1 focus:ring-1
    focus:ring-blue-800 hover:ring-blue-400 ring-blue-200
  }

  div.input {
    @apply flex gap-1 py-0
  }

  div.input input {
    @apply bg-transparent grow appearance-none focus:border-none focus:ring-0 active:border-0 focus:outline-none
  }

  .input:focus {
    @apply focused-input
  }

  div.input:focus-within {
    @apply focused-input
  }

  .input-help {
    @apply py-1 transition text-sm flex items-center content-center gap-1
  }

  .input-error {
    @apply text-error
  }

  .input-success, .input-success-icon {
    @apply text-success
  }

  .input-error, .input-success, .input-success-icon {
    @apply
    dark:drop-shadow-2xl
    shadow-black
    dark:shadow-white
  }


  .input-primary {
    @apply input
  }

  .input-primary, div.input-primary input {
    @apply
    dark:text-white
    dark:placeholder-gray-400
  }

  .input-mobile {
    @apply text-left ltr
  }

  .has-error .input {
    @apply border-error text-error focus:border-error
    focus:ring-error
    dark:border-error
    dark:placeholder-error
    dark:focus:ring-error
  }

  .is-valid .input {
    @apply border-success text-success focus:border-success
    focus:ring-success dark:border-success
    dark:placeholder-success
    dark:focus:ring-success
  }


}
