@layer components {
  .input-primary {
    @apply w-full rounded-sm border p-3 text-sm font-light
  }

  .input-help {
    @apply py-2 transition
  }

  .input-help.input-error {
    @apply text-error
  }


  .input-primary {
    @apply border-gray-300 text-gray-900 focus:border-blue-500
    focus:ring-cyan-200 dark:border-gray-600
    dark:text-white dark:placeholder-gray-400
    dark:focus:ring-blue-500
    dark:bg-[var(--color-dark-bg)]
  }

  .input-mobile {
    @apply text-left ltr
  }

  .input-has-error {
    @apply border-error text-error focus:border-error
    focus:ring-error dark:border-error
    dark:placeholder-error
    dark:focus:ring-error
  }

}
