@layer components {
  .input-primary {
    @apply w-full rounded-sm border p-3 text-sm font-light
  }

  .input {

  }

  .input-help {
    @apply py-2 transition text-sm flex items-center content-center gap-1
  }

  .input-error {
    @apply text-error
  }

  .input-success, .input-success-icon {
    @apply text-success
  }


  .input-primary {
    @apply input
  }

  .input-primary {
    @apply border-gray-300 text-gray-900 focus:border-blue-500
    focus:ring-cyan-200 dark:border-gray-600
    dark:text-white dark:placeholder-gray-400
    dark:focus:ring-blue-500
    dark:bg-[var(--color-dark-bg)]
  }

  .input-mobile {
    @apply text-left ltr
  }

  .has-error .input {
    @apply border-error text-error focus:border-error
    focus:ring-error dark:border-error
    dark:placeholder-error
    dark:focus:ring-error
  }

  .is-valid .input {
    @apply border-success text-success focus:border-success
    focus:ring-success dark:border-success
    dark:placeholder-success
    dark:focus:ring-success
  }


}
